/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*
/mod_resources/*

/src/minecraft/*
/src/minecraft_server/*
/src/common/*

!/src/common/drceph/
!/src/minecraft/drceph/
!/resources/
!/art/
!/src/common/mcmod.info
!/src/common/SP.png

*.bat
*.sh
*.class
CHANGELOG
LICENSE.txt
.DS_Store